/*
>> Documentation for CSS
    [] Flexbox
>> Page: 15
>> Link to doc: https://docs.google.com/document/d/1NoFPu4Z9_kNf3hDG59YhuLVXH1JKc71kgO7CtFawtDw/edit?skip_itp2_check=true#
*/

/* 
    For creating color variables by using :root. The :root selector matches the document's root element
*/
:root {
    --h1_border_color: #135663;
}

/* Flexbox
 */
.container {
    /* Justify-content: Utilities for controlling how flex and grid items are positioned along a container's main axis. */
    /* https://tailwindcss.com/docs/justify-content */
    justify-content: center;
    
     /* To use flexbox, set the display to flex */
    display: flex;
    /* flex-wrap. Utilities for controlling how flex items wrap (just like a word document). */
    /* https://tailwindcss.com/docs/flex-wrap */
    flex-wrap: wrap;

    /* gap. Utilities for controlling gutters between grid and flexbox items. */
    /* https://tailwindcss.com/docs/gap */
    gap: 20px;

    /* Nice design setup for container */
    background-color: #135663;

    margin: 30px auto;
    padding: 20px 10px;
    border: 3px solid #256A77;
    border-radius: 20px;
    width: 80%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    box-shadow: 4px 4px 8px;
    width: 80%;
    margin: 10px auto;
    justify-content: center;
    border-bottom: 5px solid var(--h1_border_color);
    border-right: 5px solid var(--h1_border_color);
}

img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    /* Makes the .img:hover (element below) have a delay when the effect is triggered */
    transition: all 1s;
}

img:hover {
    transform: scale(1.05);
    border-radius: 20px;
    border: 10px dotted #659DA8;
}